html, body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4b004b;
}

main {
  padding: 8px;
}

input.error {
  border: solid 1px red;
}

small.error {
  color: red;
  display: block;
}

.form-group label {
  width: 100px;
  display: inline-block;
}

.form-group input[type=text],
.form-group input[type=number]
.form-group input[type=date],
.form-group input[type=time] {
  height: 17px;
  margin: 2px;
}

.form-group input[type=text],
.form-group input[type=number] {
  width: 182px;
}

.form-group input[type=date] {
  width: 110px;
}

.form-group input[type=time] {
  width: 70px;
}
