<h2>Workorders</h2>

<p>
  <a routerLink="/createworkorder">create a new workorder</a>
</p>

<p *ngIf="!workorders"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="workorders">
  <thead>
    <tr>
      <th>id</th>
      <th>start</th>
      <th>stop</th>
      <th>amountUur</th>
      <th>description</th>
      <th>projectId</th>
      <th>projectName</th>
      <th>customerId</th>
      <th>customerName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workorder of workorders">
      <td>{{ workorder.id }}</td>
      <td>{{ workorder.start }}</td>
      <td>{{ workorder.stop }}</td>
      <td>{{ workorder.amountUur }}</td>
      <td>{{ workorder.description }}</td>
      <td>{{ workorder.projectId }}</td>
      <td>{{ workorder.projectName }}</td>
      <td>{{ workorder.customerId }}</td>
      <td>{{ workorder.customerName }}</td>
    </tr>
  </tbody>
</table>
