<h2>Workorders</h2>

<p>
  <a routerLink="/createworkorder">create a new workorder</a>
</p>

<p *ngIf="!workorders"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="workorders">
  <thead>
    <tr>
      <th>start</th>
      <th>stop</th>
      <th>description</th>
      <th>project</th>
      <th>customer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workorder of workorders">
      <td>{{ workorder.start | date:'yyyy-MM-dd HH:mm' }}</td>
      <td>{{ workorder.stop | date:'yyyy-MM-dd HH:mm' }}</td>
      <td>{{ workorder.description }}</td>
      <td>{{ workorder.projectName }}</td>
      <td>{{ workorder.customerName }}</td>
      <td>
        <a [routerLink]="['/editworkorder', workorder.id]">edit</a>
      </td>
      <td>
        <a [routerLink]="['/deleteworkorder', workorder.id]">delete</a>
      </td>
    </tr>
  </tbody>
</table>
