<h2>Edit user</h2>

<p>
  <a routerLink="/portal-account">Go back to account portal</a>
</p>

<p *ngIf="!loaded"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>


<form *ngIf="loaded" [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <input type="hidden" name="id" formControlName="id" />

  <div class="form-group">
    <label for="email">email:</label>
    <span class="form-control" id="email">{{email}}</span>
  </div>

  <div class="form-group">
    <label for="userName">userName:</label>
    <input type="text" class="form-control" id="userName" name="userName" formControlName="userName" />
  </div>

  <div class="form-group">
    <label for="phoneNumber">phoneNumber:</label>
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
