<h2>Settings for {{getCurrentCompanyName()}}</h2>

<p>
  <a routerLink="/editcompany/{{getCurrentCompanyId()}}">edit company</a>
</p>

<p>
  <a routerLink="/projects">projects</a>
  <a routerLink="/customers">customers</a>
  <a routerLink="/products">products</a>
  <a routerLink="/suppliers">suppliers</a>
</p>
<p>
  <a routerLink="/expensetypes">expensetypes</a>
  <a routerLink="/invoicetypes">invoicetypes</a>
  <a routerLink="/rates">rates</a>
  <a routerLink="/taxrates">taxrates</a>
</p>
<!--DocumentType-->

