<h2>Create a new workorder</h2>

<p *ngIf="this.firstWorkorder">
  Congratulations! You're moments away from creating your workorder. Fill out the form, hit submit, and voilà!
  Your workorder is born. It'll automatically become your "current workorder," unlocking all website features
  tailored to your business needs. Let's get started on your entrepreneurial journey!
</p>

<p>
  <a routerLink="/workorders">Go back to my workorders</a>
</p>

<form [formGroup]="workorderForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="startDate">start:</label>
    <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate" />
    <input type="time" class="form-control" id="startTime" name="startTime" formControlName="startTime" />
  </div>

  <div class="form-group">
    <label for="stopDate">stop:</label>
    <input type="date" class="form-control" id="stopDate" name="stopDate" formControlName="stopDate" />
    <input type="time" class="form-control" id="stopTime" name="stopTime" formControlName="stopTime" />
  </div>

  <div class="form-group">
    <label for="description">description:</label>
    <input type="text" class="form-control" id="description" name="description" formControlName="description" />
  </div>

  <div class="form-group">
    <label for="projectName">project:</label>
    <input type="text" class="form-control" id="projectName" name="projectName"
           formControlName="projectName" list="projects" />
    <datalist id="projects">
      <option *ngFor="let project of projects">{{ project.name }}</option>
    </datalist>
  </div>

  <div class="form-group">
    <label for="customerName">customer:</label>
    <input type="text" class="form-control" id="customerName" name="customerName"
           formControlName="customerName" list="customers" />
    <datalist id="customers">
      <option *ngFor="let customer of customers">{{ customer.name }}</option>
    </datalist>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
