<h2>Log in</h2>

<div class="login-container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" required>
      <small class="error" *ngIf="getErrorEmailNotValid()">
        GetErrorEmailNotValid
      </small>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
      <small class="error" *ngIf="getErrorPasswordEmpty()">
        GetErrorPasswordEmpty
      </small>
    </div>

    <small class="error" *ngIf="getErrorPauthentication()">
      GetErrorCannotCreateClientDevice
    </small>
    <small class="error" *ngIf="apiError">
      {{apiErrorMessage}}
    </small>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
