<h2>Register</h2>

<div class="login-container">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" formControlName="username" placeholder="username" type="text"
             [class.error]="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')">
      <small class="error"
             *ngIf="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')">
        * username is required
      </small>
      <small class="error" *ngIf="getErrorUsernameInUse()">
        ErrorUsernameInUse
      </small>
      <small class="error" *ngIf="getErrorUsernameEmpty()">
        ErrorUsernameEmpty
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" placeholder="email" type="text"
             [class.error]="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">
      <small class="error"
             *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">
        * email is required
      </small>
      <small class="error" *ngIf="getErrorEmailNotValid()">
        ErrorEmailNotValid
      </small>
      <small class="error" *ngIf="getErrorEmailInUse()">
        ErrorEmailInUse
      </small>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input id="phoneNumber" formControlName="phoneNumber" placeholder="phoneNumber" type="text"
             [class.error]="registerForm.controls['phoneNumber'].dirty && registerForm.hasError('required', 'phoneNumber')">
      <small class="error"
             *ngIf="registerForm.controls['phoneNumber'].dirty && registerForm.hasError('required', 'phoneNumber')">
        * phoneNumber is required
      </small>
      <small class="error" *ngIf="getErrorPhoneNumberEmpty()">
        ErrorPhoneNumberEmpty
      </small>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password"
             [class.error]="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">
      <small class="error"
             *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">
        * password is required
      </small>
      <small class="error"
             *ngIf="passwordNotEqual">
        * passwords are not equal
      </small>
    </div>

    <div class="form-group">
      <label for="password2">Password again:</label>
      <input id="password2" formControlName="password2" type="password"
             [class.error]="registerForm.controls['password2'].dirty && registerForm.hasError('required', 'password2')">
      <small class="error"
             *ngIf="registerForm.controls['password2'].dirty && registerForm.hasError('required', 'password2')">
        * password2 is required
      </small>
      <small class="error"
             *ngIf="passwordNotEqual">
        * passwords are not equal
      </small>
    </div>

    <div class="form-group" *ngIf="apiError">
      <small class="error">
        {{apiErrorMessage}}
      </small>
    </div>

    <button type="submit">Register</button>
  </form>
</div>
