

<p *ngIf="!loaded"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
<div *ngIf="loaded">
  <h2>are you sure you want to delete this workorder?</h2>
  <p>
    <a routerLink="/currentworkorder">goto your current workorder</a>
  </p>
  <p>
    <a routerLink="/workorders">view all your workorders</a>
  </p>
  <table>
    <tr>
      <td>
        start
      </td>
      <td>
        {{this.workorder?.start}}
      </td>
    </tr>
    <tr>
      <td>
        stop
      </td>
      <td>
        {{this.workorder?.stop}}
      </td>
    </tr>

    <tr>
      <td>
        description
      </td>
      <td>
        {{this.workorder?.description}}
      </td>
    </tr>
    <tr>
      <td>
        projectName
      </td>
      <td>
        {{this.workorder?.projectName}}
      </td>
    </tr>
    <tr>
      <td>
        customerName
      </td>
      <td>
        {{this.workorder?.customerName}}
      </td>
    </tr>
  </table>

  <button class="btn btn-primary" (click)="onSubmit()">Delete it now!</button>
</div>
